.task-card {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  .task-card--title {
    font-weight: 400;
    font-size: 18px;
    color: black;
  }
  .task-card--description {
    font-weight: 400;
    font-size: 14px;
    color: #7D7D7D;
    ;
  }
  .task-card--incomplete {
    background-color: white;
  }
  .task-card--complete {
    background-color: #E2FFE5;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

.task-checkbox {
    width: 25px;
    height: 25px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .task-checkbox--incomplete {
    background: #FFFFFF;
    border: 1px solid #D8D8D8
  }
  .task-checkbox--complete {
    background: #359845;
    border: 1px solid #D8D8D8
  }
  

  